.switch-mode {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.switch-mode-toggle {
  background: var(--switch);
  height: 40px;
  display: block;
  width: 80px;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  border-radius: 20px;
  padding: 5px;
}

.switch-mode-toggle::before {
  content: "";
  background-color: var(--switchSpinner);
  width: 30px;
  height: 30px;
  display: block;
  border-radius: 50%;
  transform: translateX(40px);
  transition: 0.3s;
}

.switch-mode-checkbox {
  display: none;
}

.switch-mode-checkbox:checked ~ .switch-mode-toggle::before {
  transform: translateX(0px);
}
